.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
    text-align: center;
    margin-top: 20px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.bio {
    font-size: 18px;
    font-style: italic;
}

.location {
    font-size: 18px;
}

.repositories {
    margin-top: 20px;
}

.repoList {
    list-style: none;
    padding-left: 0;
}

.repoItem {
    font-size: 16px;
    margin-bottom: 5px;
}